<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="../public/assets/images/logo-image.png" type="image/icon type" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
  <link rel="stylesheet" href="/assets/css/style.css" />

  <title>Eiga</title>
</head>

  <body style="background-image: url('/assets/background-images/Ghibli_Island_Background.jpg'); background-repeat: no-repeat; background-size: cover;">
    <!-- <img class="bg-img ghibliBackGround" src="/assets/background-images/Ghibli_Cagliostro_House_Background.png">
    <img class="bg-img ghibliBackGround" src="/assets/background-images/Ghibli_Farmland_Background.jpg">
    <img class="bg-img ghibliBackGround" src="/assets/background-images/Ghibli_Forest_Background.jpg">
    <img class="bg-img ghibliBackGround" src="/assets/background-images/Ghibli_God_Ray_Forest_Background.png">
    <img class="bg-img ghibliBackGround" src="/assets/background-images/Ghibli_Howl_Castle_Alps_Background.jpg">
    <img class="bg-img ghibliBackGround" src="/assets/background-images/Ghibli_Island_Background.jpg">
    <img class="bg-img ghibliBackGround" src="/assets/background-images/Ghibli_Night_City_Background.jpg">
    <img class="bg-img ghibliBackGround" src="/assets/background-images/Ghibli_Spirit_Away_Train_Background.png"> -->
    <h1></h1>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><img src="../assets/images/logo-image.png"
          style="max-width: auto; max-height: 55px" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link h4" href="/">Eiga <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item" id="loginLink">
            <a class="nav-link h4" href="/login">Log in</a>
          </li>
          <li class="nav-item" id="logoutLink">
            <a class="nav-link h4" href="/logout">Log out</a>
          </li>
          <li class="nav-item" id="signupLink">
            <a class="nav-link h4" href="/signup">Sign up</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Howl's Moving Castle</a>
              <a class="dropdown-item" href="#">Ponyo</a>
              <a class="dropdown-item" href="#">Porco Rosso</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>

    <main>
      <div class="d-flex justify-content-center flex-wrap" id="card-container">
        <!-- This is were we will be generate movie cards -->
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
    </script>
    <script src="/assets/script/homepage.js"></script>
  </body>


</html>

<!-- put code below in body tag if the dynamic background images don't work -->
<!-- style="background-image: url('/assets/background-images/Ghibli_Island_Background.jpg'); background-repeat: no-repeat; background-size: cover;" -->