.ghibliBackGround{
   width: auto;
   height: auto;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 50;
 }  

/* #background-slideshow {
   transition: background 1.5s ease; 
   background-position: center top, center top, center top; 
   background-size: cover, cover, cover;
   background-repeat:  no-repeat, no-repeat, no-repeat;
   background-image: url(img/background-1.jpg), url(img/background-2.jpg), url(img/background-3.jpg); */